doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 아티스트 크롤링
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="./views/css/home.css")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css",rel="stylesheet",integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi",crossorigin="anonymous")
        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        //- script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js",integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p",crossorigin="anonymous")
        //- script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js",integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF",crossorigin="anonymous")
    body#body 
        header 아타타 - 아티스트 추가
        button#btn 덱 추가
        main.hidden#main 
            section
                small 가수 이름 입력 후 DB 등록을 해주세요 
                form#form
                    input(type="text",placeholder="아티스트 이름")#artist
                    input(type="submit",value="찾기")
                div#spinner.hidden 
                    div(class="spinner-border text-light", role="status")
                        span(class="visually-hidden") Loading...
                br
                br
            section#list.hidden 
                small 곡 목록을 확인하고 DB 등록을 해주세요
                form#momForm
                    input(type="submit",value="DB 등록") 
        footer @ #{new Date().getFullYear()} JinyVerse, JinyTree.

    script(src="./views/script/index.js",defer) 